{% extends 'dashboard/dashboard_base.html.twig' %}
{% block content %}
    <div class="off-canvas-wrap" data-offcanvas>
        <!-- right sidebar wrapper -->
        <div class="inner-wrap">
            <!-- Container Begin -->
            <div class="row">
                <div class="large-12 columns">
                    <section class="page-error">
                        <div class="error-page">

                            <div class="error-content">
                                <h2><i class="fontello-warning-empty text-black"></i>&nbsp;404</h2>
                                <h3><small>Oops! Page not found.</small></h3>
                                <p>
                                    We could not find the page you were looking for. Meanwhile, you may <a class="error-link" href='{{ path('homepage') }}'>return to homepage</a>.
                                </p>
                            </div>
                            <!-- /.error-content -->
                        </div>
                        <!-- /.error-page -->
                    </section>
                </div>
            </div>
            <!-- End of Container Begin -->
        </div>
        <!-- End wrap-fluid -->
    </div>
{% endblock %}