{% extends '@App/emails/email_layout.html.twig' %}
{% trans_default_domain 'emails' %}
{% block subject %}
    {{ 'emails.approve.subject'|trans }}
{% endblock %}
{% block text %}
    {{ 'emails.approve.text'|trans|format(app.request.schemeAndHttpHost~path('fos_user_security_login'), app.request.schemeAndHttpHost~path('fos_user_security_login'))|raw }}
{% endblock %}