{% block subject %}Welcome{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Hello !
        My name is {{ name }}. Here is my contacts:
        <ul>
            <li>Email: {{ email }}</li>
            <li>Phone: {{ phone }}</li>
        </ul>
         Please, contact me!
    {% endautoescape %}
{% endblock %}

