{% trans_default_domain 'emails' %}
{% block subject %}
{% endblock %}
{% block body_html %}
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
<tbody>
    <tr>
        <td align="center" bgcolor="#f7f7f7">

            <!-- BRANDING -->
            <table width="650" cellpadding="0" cellspacing="0" border="0" class="container branding" style="margin-top: 30px;"><tbody>
                <tr>
                    <td align="center">
                        <img src="{{ app.request.schemeAndHttpHost~asset('test-logo.png') }}" width="240" height="120" alt="Brainstyle at work logo" border="0">
                    </td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
            </tbody></table>

            <!-- OUTER CONTENT -->
            <table width="650" cellpadding="0" cellspacing="0" border="0" class="container"><tbody>
                <tr>
                    <td width="650" bgcolor="#ffffff" class="container" style="border: 1px solid #E4E4E4; border-radius: 3px;">

                        <!-- content -->
                        <table width="650" cellpadding="0" cellspacing="0" border="0" class="container"><tbody>
                            <tr>
                                <td width="650" height="5" colspan="5" class="container noprint"></td>
                            </tr>
                            <tr>
                                <td width="5" class="noprint outer-margin"></td>
                                <td width="640" class="hero inner-container" colspan="3">
                                    <img mc:edit="postcard" style="height:auto;">
                                </td>
                                <td width="5" class="noprint outer-margin"></td>
                            </tr>

                            <tr>
                                <td width="5" class="outer-margin"></td>
                                <td width="30" class="padding"></td>
                                <td width="580" class="article-content" mc:edit="main">
                                    <p style="font-size: 14px; line-height: 24px; color: #777; margin-top: 0px; margin-bottom: 0; font-family: Arial, sans-serif; text-align: left; margin-bottom: 1em;">{% block text %}{% endblock %}</p>

									<br /><br />
                                    
                                    <p style="font-size: 14px; line-height: 24px; color: #777; margin-top: 0px; margin-bottom: 0; font-family: Arial, sans-serif; text-align: left; margin-bottom: 1em;">{{ 'emails.footer.text'|trans }}<br>
	                                <em>{{ 'emails.footer.team'|trans }}</em>
                                    </p>
                                    
                                </td>

                                <td width="30" class="padding"></td>
                                <td width="5" class="outer-margin"></td>
                            </tr>
                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <!-- CTA BUTTON -->
                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                          
                            
                            <!-- FOOTER -->

                            <tr>
                                <td height="1" width="5" class="noprint outer-margin"></td>
                                <td height="1" width="40" class="noprint padding"></td>
                                <td height="1" width="620" class="noprint content" bgcolor="#e4e4e4"></td>
                                <td height="1" width="40" class="noprint padding"></td>
                                <td height="1" width="5" class="noprint outer-margin"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10" class="noprint">&nbsp;</td>
                            </tr>

                            <tr>
                                <td width="5" class="outer-margin"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10" class="noprint">&nbsp;</td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
                <tr>
                    <td height="30"></td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody>
</table>
</body>
{% endblock %}
