{% extends '@App/emails/email_layout.html.twig' %}
{% trans_default_domain 'emails' %}
{% block subject %}
    {{ 'emails.resset.subject'|trans }}
{% endblock %}
{% block text %}
    {{ 'emails.resset.text'|trans({'%confirmationUrl%': confirmationUrl})|raw }}
{% endblock %}