{% extends '@App/emails/email_layout.html.twig' %}
{% trans_default_domain 'emails' %}
{% block subject %}
        {{ 'emails.register.subject'|trans }}
{% endblock %}
{% block text %}
    {{ 'emails.register.text'|trans|raw }}
{% endblock %}
