<!-- ========== FOOTER START ========== -->

<footer>
    <div class="container">
        <div class="row">

            <!-- ==== CREDITS START == -->
            <div class="col-sm-8">
                &copy; 2014 Smartway Theme by Coffeecream Themes
            </div>
            <!-- ==== CREDITS END == -->

        </div>
    </div>
</footer>

<!-- ========== FOOTER END ========== -->
