<!-- ========== HEADER START ========== -->

<header>

    <!-- ==== TOOLS START ==== -->
    <div class="tools">
        <div class="container">
            <ul class="pull-left">
                <li><a href="tel:1800123456"><i class="fa fa-phone"></i><span>1800-123-456</span></a></li>
                <li><a href="mailto:info@smartway.com"><i class="fa fa-envelope"></i><span>info@smartway.com</span></a>
                </li>
            </ul>

            <nav class="pull-right navbar-collapse collapse">
                <ul class="navbar-nav  navbar-right">
                    {{ include(':landing:_language_switcher.html.twig') }}
                </ul>
            </nav>
        </div>
    </div>
    <!-- ==== TOOLS END ==== -->

    <!-- ==== NAVBAR START ==== -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('homepage') }}" class="navbar-brand"><img
                            src="{{ asset('bundles/app/landing/images/logo.png') }}" alt="Smartway - HTML Template"
                            class="img-responsive logo"/></a>
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Log Out'|trans }}</a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'Log In'|trans }}</a></li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- ==== NAVBAR END ==== -->

</header>