<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i> {{ app.request.locale|upper }}<b
                class="caret"></b></a>
    <ul class="switcher dropdown-menu">
        {% set route =  app.request.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params')| merge(app.request.query.all) %}
        <li {% if app.request.locale == 'nl' %}class="dropdown-checked"{% endif %}>
            <a href="{{ path(route, route_params | merge({'_locale': 'nl'}) ) }}">Dutch</a>
        </li>
        <li {% if app.request.locale == 'en' %}class="dropdown-checked"{% endif %}>
            <a href="{{ path(route, route_params | merge({'_locale': 'en'})) }}">English</a>
        </li>
    </ul>
</li>
