<!-- ========== PREFOOTER START ========== -->

<div id="prefooter">
    <div class="container">
        <div class="row">

            <!-- ==== ABOUT START == -->
            <div class="col-sm-6">
                <h3>About Us</h3>

                <div class="row">
                    <div class="col-sm-5">
                        <p><img src="//placehold.it/270x180.jpg" alt="" class="img-responsive"/></p>
                    </div>
                    <div class="col-sm-7">
                        <p>Morbi nec quam sed elit pharetra faucibus. Cras vel massa viverra ligula suscipit
                            interdum
                            eget nec est. Cras nibh mi, faucibus at ligula eu, eleifend tincidunt justo. Nunc
                            porttitor
                            massa at nisi condimentum fringilla. Nullam finibus, nibh eu hendrerit suscipit, tellus
                            mi
                            commodo lectus, sit amet dictum sem lorem sed neque.<br>
                    </div>
                </div>
            </div>
            <!-- ==== ABOUT END == -->

            <!-- ==== APPLY FOR TEACHER START == -->
            <div class="col-sm-3">
                <h3>Contact us</h3>

                <form name="contact-us-form" action="{{ path('contact-us') }}" method="post">
                    <div class="form-group" id="teacher-name-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="{{ 'Name'|trans }}">

                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        </div>
                    </div>
                    <div class="form-group" id="teacher-email-group">
                        <div class="input-group">
                            <input type="email" class="form-control" name="email" placeholder="{{ 'Email'|trans }}">

                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                        </div>
                    </div>
                    <div class="form-group" id="teacher-phone-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="phone" placeholder="{{ 'Phone'|trans }}">

                            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- ==== APPLY FOR TEACHER END == -->

        </div>
    </div>
</div>

