<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smartway - HTML Template">
    <meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
    <title>Breinstijl</title>
    <link rel="shortcut icon" href="{{ asset('bundles/app/landing/js/bootstrap-progressbar.js') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/landing/css/style.css') }}" />
    {% endblock %}
    <!-- Main Stylesheet -->
    <link href="{{ asset('bundles/app/landing/css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/app/landing/js/html5shiv.js')}}"></script>
    <script src="{{ asset('bundles/app/landing/js/respond.min.js')}}"></script>
    <![endif]-->

</head>
<body {% if app.request.get('_route') == 'homepage' %}id="homepage"{% endif %}>
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/landing/js/modernizr.custom.97074.js'
    '@AppBundle/Resources/public/landing/js/jquery-1.11.1.min.js'
    '@AppBundle/Resources/public/landing/js/bootstrap.min.js'
    '@AppBundle/Resources/public/landing/js/retina-1.1.0.min.js'
    '@AppBundle/Resources/public/landing/js/jquery.easing.1.3.js'
    '@AppBundle/Resources/public/landing/js/jquery.animate-enhanced.min.js'
    '@AppBundle/Resources/public/landing/js/jquery.superslides.js'
    '@AppBundle/Resources/public/landing/js/owl.carousel.min.js'
    '@AppBundle/Resources/public/landing/js/jquery.parallax-1.1.3.js'
    '@AppBundle/Resources/public/landing/js/jquery.fancybox.js'
    '@AppBundle/Resources/public/landing/js/imagesloaded.pkgd.min.js'
    '@AppBundle/Resources/public/landing/js/masonry.pkgd.min.js'
    '@AppBundle/Resources/public/landing/js/bootstrap-progressbar.js'
    '@AppBundle/Resources/public/landing/js/scrollReveal.js'
    '@AppBundle/Resources/public/landing/js/magic.js'
    '@AppBundle/Resources/public/landing/js/settings.js'
    output="cache/landing/js/*.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>