<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-body " style="display: block;">
                <table id="dimensions-table" class="display bg-gray" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Group Name'|trans }}</th>
                        <th>{{ 'Conceptualiser'|trans }}</th>
                        <th>{{ 'Innovator'|trans }}</th>
                        <th>{{ 'Connector'|trans }}</th>
                        <th>{{ 'Humaniser'|trans }}</th>
                        <th>{{ 'Organiser'|trans }}</th>
                        <th>{{ 'Implementer'|trans }}</th>
                        <th>{{ 'Systemiser'|trans }}</th>
                        <th>{{ 'Analyser'|trans }}</th>
                        <th>{{ 'Style'|trans }}</th>
                    </tr>
                    </thead>

                    <tfoot>

                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
