{% extends ':dashboard:dashboard_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.core.css?v=2-0-1') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.standalone.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable-demos.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    {% include ':dashboard:_left_sidebar.html.twig' %}
    {% include ':dashboard:_top_nav.html.twig' %}
    <!-- breadcrumbs -->
    <ul class="breadcrumbs breadcrumbs-fixed ">
        <li><a href="#"><span class="entypo-home"></span></a>
        </li>
        <li><a href="{{ path('dashboard_index') }}">{{ 'Dashboard'|trans }}</a>
        </li>
        <li><a href="{{ path('dashboard_projects_info', {'project': project.id}) }}">{{ 'Project info'|trans }}</a>
        </li>
        <li><a href="{{ path('dashboard_project_subgroups', {'id': project.id}) }}">{{ 'Subgroups'|trans }}</a>
        </li>
        <li>{{ 'Edit Subgroup'|trans }}
        </li>
    </ul>
    <div class="row">
        <div class="box bg-light-green" id="user-added-info" style="display: none">
            <div class="box-header bg-light-green ">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i></span>
                </div>
                <h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
                    <span class="text-white">{{ 'SUCCESS'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">
                <p class="text-white">
                    <strong>{{ 'Well done!'|trans }}</strong> {{ 'User was successfully added'|trans }}</p>
            </div>
        </div>
        <div class="box bg-light-green" id="user-deleted-info" style="display: none">
            <div class="box-header bg-light-green ">
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i></span>
                </div>
                <h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
                    <span class="text-white">{{ 'SUCCESS'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">
                <p class="text-white">
                    <strong>{{ 'Well done!'|trans }}</strong> {{ 'User was successfully deleted'|trans }}</p>
            </div>
        </div>
        <div class="large-12 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <form method="post" action="{{ path('dashboard_project_subgroup_edit', {'id': subgroup.id, 'project': project.id}) }}"
                          data-abide>
                        <div class="name-field">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            <small class="error">
                                {{ 'Project group name is required'|trans }}
                            </small>
                            {% if form.name.vars.errors|length %}
                                <div class="box bg-red">
                                    {{ form_errors(form.name) }}
                                </div>
                            {% endif %}

                        </div>
                        <input type="hidden" name="panel" value="{{ app.request.get('panel', '') }}">
                        <button class="button small bg-light-green round"
                                type="submit"><i class="fontello-edit"></i>{{ 'Update'|trans }}</button>
                        <a href="#" data-reveal-id="user-add-modal" class="button small bg-green round"><i
                                    class="fontello-plus"></i>{{ 'Add users'|trans }}</a>
                        <a href="#" data-reveal-id="user-delete-modal" class="button small bg-red-orange round"><i
                                    class="fontello-minus"></i>{{ 'Delete  users'|trans }}</a>
                        <a href="#" data-reveal-id="delete-subgroup-modal-{{ subgroup.id }}"
                                type="submit" class="button small bg-red-orange round">
                            <i class="fontello-minus"></i>{{ 'Delete Subgroup'|trans }}
                        </a>
                        <div id="delete-subgroup-modal-{{ subgroup.id }}"
                             class="reveal-modal confirm-modal" data-reveal
                             aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                            <div class="row">
                                <h4 class="column">{{ 'Are you really sure?'|trans }}</h4>
                                <div class="large-6 columns">
                                    <button id="confirm-remove" class="expand button small bg-red-orange round">
                                        <i class="fontello-ok"></i>{{ 'Yes'|trans }}
                                    </button>
                                </div>
                                <div class="large-6 columns">
                                    <button class="expand close-confirm-modal  button small bg-green round">
                                        <i class="fontello-cancel"></i>{{ 'No'|trans }}
                                    </button>
                                </div>
                            </div>
                            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                        </div>
                        {{ form_widget(form._token) }}
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div id="user-add-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            {{ include('@App/dashboard/users/add_user_list_table.html.twig') }}
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>
    <div id="user-delete-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            {{ include('@App/dashboard/users/delete_user_list_table.html.twig') }}

            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>

    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script> var subgroup = "{{ subgroup.id }}";</script>

    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/datatables/jquery.dataTables.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.sort.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.filter.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.paginate.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/add-subgroup-user-list-data.js'
    '@AppBundle/Resources/public/dashboard/js/delete-subgroup-user-list-data.js'
    output="cache/dashboard/js/*.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- page script -->

{% endblock %}
