{% extends ':dashboard:dashboard_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.core.css?v=2-0-1') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.standalone.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable-demos.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    {% include ':dashboard:_left_sidebar.html.twig' %}
    {% include ':dashboard:_top_nav.html.twig' %}
    <!-- breadcrumbs -->
    <ul class="breadcrumbs breadcrumbs-fixed ">
        <li><a href="#"><span class="entypo-home"></span></a>
        </li>
        <li><a href="{{ path('dashboard_index') }}">{{ 'Dashboard'|trans }}</a>
        </li>
        <li><a href="{{ path('dashboard_projects_info', {'project': project.id}) }}">{{ 'Project info'|trans }}</a>
        </li>
        <li>{{ 'Subgroups'|trans }}
        </li>
    </ul>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '@App/dashboard/_success_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    <div class="row">
        <div class="large-12 columns">
            <div class="box">

                <div class="box-header bg-transparent">
                    <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    </div>
                    <h3 class="box-title"><i class="fontello-users"></i>
                        <span>{{ 'Subgroups'|trans }}</span>
                    </h3>
                </div>
                <div class="box-body row" style="display: block;">
                    <div class="row">
                        <div class="large-3 columns">
                            <ul class="tabs vertical" data-tab="">
                                <a href="{{ path('dashboard_project_subgroup_create', {'project': project.id}) }}"
                                        class="expand  button small bg-green round"
                                        ><i class="fontello-plus"></i>{{ 'Create subgroup'|trans }}
                                </a>
                                {% for key, subgroup in subgroups %}
                                    <li class="tab-title vertical-tab-subgroup {{ key == 0?'active':'' }}"
                                        data-group="{{ subgroup['id'] }}"><a
                                                href="#panel{{ key }}"
                                                aria-selected="{{ key == 0?'true':'false' }}"
                                                tabindex="-1">{{ subgroup.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="large-9 columns">
                            <div class="tabs-content ">
                                {% for key, subgroup in subgroups %}
                                    <div class="content {{ key == 0?'active':'' }}" id="panel{{ key }}">
                                        <h5 class="subheader">{{ 'Subgroup overview of %s'|trans|format(subgroup['name']) }}
                                            {% if subgroup['participants']|length > 0 %}{{ 'with'|trans }}{% endif %}
                                            {% for student in subgroup['participants'][:30] %}
                                                {{ student['firstName'] ~' '~ student['lastName'] }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </h5>
                                        <h6 class="subheader subgroup-title">{{ 'The Subgroup Style is'|trans|format('style') }}
                                            <b class="main-style-group"></b>
                                            <a href="#"
                                               data-reveal-id="web-image-modal"> {{ 'click here'|trans }} </a>{{ 'to open the Subgroup Profile'|trans }}
                                        </h6>

                                        <div class="row">
                                            <div class="large-3 columns">
                                                <a id="download-pdf" class="expand button small bg-olive round"
                                                        type="submit"><i
                                                            class="fontello-export"></i>{{ 'Create Output'|trans }}
                                                </a>

                                            </div>
                                            <div class="large-3 columns" style="float: left!important;">
                                                <a href="{{ path('dashboard_project_subgroup_edit', {'id': subgroup['id'], 'project': project.id, 'panel': key}) }}" class="expand button small bg-olive round">
                                                    <i class="fontello-edit"></i>{{ 'Edit Subgroup'|trans }}
                                                </a>
                                            </div>

                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') %}
                                            <div class="large-3 columns">
                                                <a href="#" data-reveal-id="dimensions-modal"
                                                   class="expand button small bg-olive round">
                                                    <i class="fontello-chart-bar"></i>{{ 'Show Dimensions'|trans }}
                                                </a>
                                            </div>
                                            {% endif %}
                                            <div class="large-3 columns" style="float: left!important;">
                                                <button data-reveal-id="delete-subgroup-modal-{{ subgroup['id'] }}"
                                                        type="submit" class="button small bg-red-orange round expand">
                                                    <i class="fontello-minus"></i>{{ 'Delete Subgroup'|trans }}
                                                </button>
                                                <div id="delete-subgroup-modal-{{ subgroup['id'] }}"
                                                     class="reveal-modal confirm-modal" data-reveal
                                                     aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                                                    <div class="row">
                                                        <h4 class="column">{{ 'Are you really sure?'|trans }}</h4>
                                                        <div class="large-6 columns">
                                                            <form method="post"
                                                                  action="{{ path('dashboard_subgroup_delete', {'id': subgroup['id']}) }}">
                                                                <button type="submit"
                                                                        class="status-change expand lose-confirm-modal button small bg-red-orange round">
                                                                    <i class="fontello-ok"></i>{{ 'Yes'|trans }}
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <div class="large-6 columns">
                                                            <button class="expand close-confirm-modal  button small bg-green round">
                                                                <i class="fontello-cancel"></i>{{ 'No'|trans }}
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h5>{{ 'Users'|trans }}</h5>
                                        <hr>
                                        <div class="row">
                                            {% include('@App/dashboard/users/subgroup_users_list_table.html.twig') with {'id': subgroup['id']} %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="user-web-image-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            <div class="small-2 small-centered columns">
                <img id="user-image-loader" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <div class="small-centered columns">
                <img id="user-web-image-graph" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>
    <div id="web-image-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            <div class="small-2 small-centered columns">
                <img id="loader" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <div class="small-centered columns">
                <img id="web-image-graph" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>
    <div id="dimensions-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            <div id="dimensions-content">
                {% include('@App/dashboard/subgroup/dimensions-content.html.twig') %}
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>

    <!-- end of breadcrumbs -->
    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/datatables/jquery.dataTables.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.sort.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.filter.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.paginate.js'
    '@AppBundle/Resources/public/dashboard/js/subgroup-list.js'
    output="cache/dashboard/js/*.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- page script -->

{% endblock %}
