<html>
<head>
    <title>Subgroup Output</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/foundation.css') }}" />
    <style>
        body {
            font-size: 14px;
        }

        .text-center {
            text-align: center
        }

        .clearfix {
            clear: both;
        }

    </style>
</head>
<body>
<h4>
    {{ 'Subgroup Style output'|trans }}
</h4>

<div>
    <i>{{ 'Date generated'|trans }}: {{ "now"|date("d/m/Y") }}</i>
</div>

<div class="text-center">
    <h5>{{ 'Subgroup Profile'|trans }}</h5>
    <img src="{{ subgroup_web }}">
</div>

<div>
    {{ 'The Subgroup name is'|trans }} <strong>{{ subgroup.name }}</strong>
</div>

<div>
    {{ 'The Subgroup style is'|trans }} <strong>{{ subgroup_style }}</strong>
</div>
<br />
<div>
    {{ 'Members of the subgroup'|trans }}:
    {% for user in subgroup_users %}
        {{ user.firstName }} {{ user.lastName }},
    {% endfor %}
</div>
<br />
{% if subgroup.project is not null %}
    <div>
        {{ 'Company name'|trans }}: {{ subgroup.project.name }}
    </div>
    <br />
    <div>
        {{ 'Team name'|trans }}: {{ subgroup.project.team }}
    </div>
    <br />
{% endif %}
<div>
    <table style="border: none;">
        {% for user in subgroup_users %}
            {% set remainder = (loop.index0 % 2) %}
            {% if remainder == 0 %}
                <tr>
            {% endif %}
            <td height="800">{{ render(controller('AppBundle:User:userWeb', {'user': user.id })) }} </td>
            {% if remainder == 0 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="clearfix"></div>
</body>
</html>