{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="row">
    <div class="col-sm-6 col-lg-offset-2">
        <h3 style="text-align: center">{{ 'Start'|trans({}, 'messages') }}</h3>
        <form action="{{ path('fos_user_registration_register', {'hash': app.request.get('hash')}) }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_registration_register">
            {{ form_start(form) }}
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="text-white icon-user"></i></span>
                </div>
                <div class="small-10  columns" >
                    {{ form_row(form.firstName) }}
                </div>
            </div>
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="text-white icon-user"></i></span>
                </div>
                <div class="small-10  columns">
                    {{ form_widget(form.lastName) }}
                </div>
            </div>
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="text-white icon-mail"></i></span>
                </div>
                <div class="small-10  columns">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            {% if form.email.vars.errors|length %}
                <small class="error"> {{ form_errors(form.email) }} </small>
            {% endif %}
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="text-white icon-lock"></i></span>
                </div>
                <div class="small-10  columns">
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="text-white icon-lock"></i></span>
                </div>
                <div class="small-10  columns">
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
            {% if form.plainPassword.first.vars.errors|length %}
                <small class="error"> {{ form_errors(form.plainPassword.first) }} </small>
            {% endif %}
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="fontello-globe-1"></i></span>
                </div>
                <div class="small-10  columns">
                    {{ form_widget(form.locale) }}
                </div>
            </div>
            <div class="row collapse">
                <div class="small-2  columns">
                    <span class="prefix bg-green"><i class="text-white icon-user-group"></i></span>
                </div>
                <div class="small-10  columns">
                    {{ form_widget(form.userType) }}
                </div>
            </div>
            <input type="submit" class="button radius small expand bg-green" id="_submit" name="_submit" value="{{ 'Next step'|trans }}"/>
            {{ form_end(form) }}
        </form>
    </div>
</div>


