{% extends "@FOSUser/layout.html.twig" %}
{% block title %}
    {{ 'Registration'|trans }} | {{ parent() }}
{% endblock %}
{% block content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock %}
