<div id="add-order" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <form method="post" action="{{ path('dashboard_order_create') }}"
          data-abide>
        <div class="amount-field">
            {{ form_label(form.amount) }}
            {{ form_widget(form.amount) }}
            <small class="error">
                {{ 'Amount is required andcan not be negative'|trans }}
            </small>
            {% if form.amount.vars.errors|length %}
                <div class="box bg-red">
                    {{ form_errors(form.amount) }}
                </div>
            {% endif %}
        </div>
        <button  id="add-order-submit" class="button small bg-green round"
                type="submit"><i class="fontello-plus"></i>{{ 'Add'|trans }}</button>

        {{ form_widget(form._token) }}
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>