<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="fontawesome-reorder"></i>
                    <span>{{ 'Orders'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">

                <table id="order-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'Date of order'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Amount of pre-ordered Accounts'|trans }}</th>
                        <th>{{ 'Paid'|trans }}</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>{{ 'Date of order'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Amount of pre-ordered Accounts'|trans }}</th>
                        <th>{{ 'Paid'|trans }}</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="change-status-modal"
     class="reveal-modal confirm-modal" data-reveal
     aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="row">
        <h4 class="column">{{ 'Are you really sure?'|trans }}</h4>
        <div class="large-6 columns">
            <button type="submit"
                    class="status-change close-confirm-modal expand button small bg-red-orange round">
                <i class="fontello-ok"></i>{{ 'Yes'|trans }}
            </button>
        </div>
        <div class="large-6 columns">
            <button class="expand close-confirm-modal  button small bg-green round">
                <i class="fontello-cancel"></i>{{ 'No'|trans }}
            </button>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>