<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="fontawesome-reorder"></i>
                    <span>{{ 'Orders'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">
                <button data-reveal-id="add-order" class="button small bg-green round">{{ 'Add Order'|trans }}</button>
                {{ include('@App/dashboard/order/add-order.html.twig') }}
                <table id="order-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'Date of order'|trans }}</th>
                        <th>{{ 'Amount of pre-ordered Accounts'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>{{ 'Date of order'|trans }}</th>
                        <th>{{ 'Amount of pre-ordered Accounts'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>

                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>