<div class="row">

    <div class="box bg-red">
        <div class="box-header bg-red">
            <!-- tools box -->
            <div class="pull-right box-tools">
                                                    <span class="box-btn" data-widget="remove"><i
                                                                class="icon-cross"></i>
                                    </span>
            </div>
            <h3 class="box-title "><i class="text-white fontello-cancel-circled"></i>
                <span class="text-white">{{ 'ERROR'|trans }}</span>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body " style="display: block;">
            <p class="text-white"><strong>{{ 'ERROR'|trans }}</strong> {{ flashMessage }}</p>
        </div>
    </div>
</div>