<div class="row">
    <div class="box bg-light-green">
        <div class="box-header bg-light-green ">
            <!-- tools box -->
            <div class="pull-right box-tools">
                                                        <span class="box-btn" data-widget="remove"><i
                                                                    class="icon-cross"></i>
                                        </span>
            </div>
            <h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
                <span class="text-white">{{ 'SUCCESS'|trans }}</span>
            </h3>
        </div>
        <div class="box-body " style="display: block;">
            <p class="text-white"><strong>{{ 'Well done!'|trans }}</strong> {{ flashMessage }}</p>
        </div>
    </div>
</div>