<div class="wrap-model">
    <div class="content-model">
        {{ 'model.content'|trans({}, 'information')|raw }}
    </div>

    <div class="model-side">
        {{ 'model.side'|trans({}, 'information')|raw }}
    </div>
    <img class="brain_logo" src="{{ asset('bundles/app/images/brain_logo.jpg') }}" alt=""/>
    <img class="abstract_logo" src="{{ asset('bundles/app/images/abstract_logo.jpg') }}" alt=""/>
    <div class="content-model">
        {{ 'model.content 2'|trans({}, 'information')|raw }}
    </div>
</div>
