<div id="profile-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-centered columns" id="profile">
            <dl>
                <dt>{{ 'First name'|trans }}</dt>
                <dd id="firstname"> {{ app.user.firstName }} </dd>
                <dt>{{ 'Last name'|trans }}</dt>
                <dd id="lastname"> {{ app.user.lastName }} </dd>
                <dt>{{ 'Email'|trans }}</dt>
                <dd id="email"> {{ app.user.email }} </dd>
                <dt>{{ 'Change password'|trans }}</dt>
                <dd style="padding-left: 15px">
                    <form action="{{ path('user_change_password') }}"  method="POST" data-abide>
                        <div class="row">
                            <input type="password" id="password" name="old-password" placeholder="Old password" required pattern=".{6}">
                            <small class="error">{{ 'Password must be %d characters length'|trans|format(6) }}</small>
                        </div>
                        <div class="row">
                            <input type="password" id="new-password" name="new-password" placeholder="New password" required pattern=".{6}">
                            <small class="error">{{ 'Password must be %d characters length'|trans|format(6) }}</small>
                        </div>
                        <div class="row">
                            <input type="password" name="confirmation" data-equalto="new-password" placeholder="Confirm new password" required pattern=".{6}">
                            <small class="error">{{ 'Password must match'|trans }}</small>
                        </div>
                        <div class="row">
                            <input type="submit" class="button small bg-green round" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </form>
                </dd>
            </dl>
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<script src="{{ asset('bundles/app/dashboard/js/foundation.min.js') }}"></script>
<script src="{{ asset('bundles/app/dashboard/js/foundation/foundation.abide.js') }}"></script>
