{% extends ':dashboard:dashboard_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.core.css?v=2-0-1') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.standalone.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable-demos.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    {% include ':dashboard:_left_sidebar.html.twig' %}
    {% include ':dashboard:_top_nav.html.twig' %}
    <!-- breadcrumbs -->
    <ul class="breadcrumbs breadcrumbs-fixed ">
        <li><a href="#"><span class="entypo-home"></span></a>
        </li>
        <li><a href="{{ path('dashboard_index') }}">{{ 'Dashboard'|trans }}</a>
        </li>
        <li><a href="{{ path('dashboard_projects_list') }}">{{ 'Projects'|trans }}</a>
        </li>
        <li>{{ 'Edit Project'|trans }}
        </li>
    </ul>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '@App/dashboard/_success_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '@App/dashboard/users/_error_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    <div class="row">
        <div class="large-12 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <form method="post" action="{{ path('dashboard_projects_edit', {'project': project.id}) }}"
                          data-abide>
                        <div class="name-field">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            <small class="error">
                                {{ 'Project name is required'|trans }}
                            </small>
                            {% if form.name.vars.errors|length %}
                                <div class="box bg-red">
                                    {{ form_errors(form.name) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="team-field">
                            {{ form_label(form.team) }}
                            {{ form_widget(form.team) }}
                            <small class="error">{{ 'Team name is required'|trans }}</small>
                            {% if form.team.vars.errors|length %}
                                <div class="box bg-red">
                                    {{ form_errors(form.team) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="amount-field">
                            {{ form_label(form.amountNewUsers) }}
                            {{ form_widget(form.amountNewUsers) }}
                            <small class="error">{{ 'Amount of new users should be greater than or equal to 0'|trans }}</small>
                            {% if form.amountNewUsers.vars.errors|length %}
                                <div class="box bg-red">
                                    {{ form_errors(form.amountNewUsers) }}
                                </div>
                            {% endif %}
                        </div>
                        <button class="button small bg-light-green round"
                                type="submit"><i class="fontello-plus"></i>{{ 'Update'|trans }}</button>

                        {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script> var project = "{{ project.id }}";</script>


    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/datatables/jquery.dataTables.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.sort.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.filter.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.paginate.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    output="cache/dashboard/js/*.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- page script -->

{% endblock %}