{% extends ':dashboard:dashboard_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.core.css?v=2-0-1') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.standalone.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable-demos.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    {% include ':dashboard:_left_sidebar.html.twig' %}
    {% include ':dashboard:_top_nav.html.twig' %}
    <!-- breadcrumbs -->
    <ul class="breadcrumbs breadcrumbs-fixed ">
        <li><a href="#"><span class="entypo-home"></span></a>
        </li>
        <li><a href="{{ path('dashboard_index') }}">{{ 'Dashboard'|trans }}</a>
        </li>
        <li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') %}
                <a href="{{ path('dashboard_projects_list') }}">{{ 'Projects'|trans }}</a>
            {% else %}
                {{ 'Projects'|trans }}
            {% endif %}
        </li>
        <li>{{ 'Project info'|trans }}
        </li>
    </ul>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '@App/dashboard/_success_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '@App/dashboard/users/_error_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    <div class="row">
        <div class="box bg-light-green" id="user-added-info" style="display: none">
            <div class="box-header bg-light-green ">
                <!-- tools box -->
                <div class="pull-right box-tools">
                                                    <span class="box-btn" data-widget="remove"><i
                                                                class="icon-cross"></i>
                                    </span>
                </div>
                <h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
                    <span class="text-white">{{ 'SUCCESS'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">
                <p class="text-white">
                    <strong>{{ 'Well done!'|trans }}</strong> {{ 'User was successfully added'|trans }}</p>
            </div>
        </div>
        <div class="box bg-light-green" id="user-deleted-info" style="display: none">
            <div class="box-header bg-light-green">
                <!-- tools box -->
                <div class="pull-right box-tools">
                                                    <span class="box-btn" data-widget="remove"><i
                                                                class="icon-cross"></i>
                                    </span>
                </div>
                <h3 class="box-title "><i class="text-white  icon-thumbs-up"></i>
                    <span class="text-white">{{ 'SUCCESS'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">
                <p class="text-white">
                    <strong>{{ 'Well done!'|trans }}</strong> {{ 'User was successfully deleted from this project'|trans }}
                </p>
            </div>
        </div>
        {% if is_granted('ROLE_PRACTITIONER') or is_granted('ROLE_ADMIN') %}
            {% if notActivatedUsersCount > 0 %}
                <div class="box bg-aqua">
                    <div class="box-header bg-aqua ">
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                                                        <span class="box-btn" data-widget="remove"><i
                                                                    class="icon-cross"></i>
                                        </span>
                        </div>
                        <h3 class="box-title "><i class="text-white fontello-attention-filled"></i>
                            <span class="text-white">INFO</span>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body text-white" style="display: block;">
                        <strong>{{ 'Heads up!'|trans }}</strong>
                        {% if notActivatedUsersCount > 1 %}
                            {{ 'There are %d users are not activated for this project.'|trans|format(notActivatedUsersCount) }}
                        {% else %}
                            {{ 'There is %d user is not activated for this project.'|trans|format(notActivatedUsersCount) }}
                        {% endif %}
                        <a href="{{ path('dashboard_project_activate_users', {'project': project.id }) }}">
                            <b class="text-white"> {{ 'Click here'|trans }}</b>
                        </a> {{ 'to activate this users.'|trans }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="large-12 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    </div>
                    <h3 class="box-title"><i class="icon-window"></i>
                        <span>{{ 'Team info'|trans }}</span>
                    </h3>
                </div>
                <div class="box-body" style="display: block;">
                    <h5 class="subheader">{{ 'Team page of the amazing'|trans }} <strong>{{ project.team }}</strong>
                        {{ 'of the great company'|trans }} <strong>{{ project.name }}</strong>
                    </h5>
                    {% if projectStyle is not empty %}
                        <h6 class="subheader project-title">{{ 'The Team Style is'|trans }}
                            <b class="main-style-group">{{ projectStyle }}</b>
                            <a href="#"
                               data-reveal-id="web-image-modal"> {{ 'click here'|trans }}
                            </a>
                            {{ 'to open the Team Profile'|trans }}
                        </h6>
                    {% endif %}
                    <hr>
                    <div class="row">
                        {% if is_granted('ROLE_PRACTITIONER') or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('dashboard_projects_edit', {'project': project.id}) }}" id="project-edit"
                               class="expanded button small bg-olive round">
                                <i class="fontello-edit"></i>{{ 'Edit Project'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') %}
                            <a href="#" data-reveal-id="dimensions-modal" class="expanded button small bg-olive round">
                                <i class="fontello-chart-bar"></i>{{ 'Show Dimensions'|trans }}
                            </a>
                        {% endif %}
                        <a href="{{ path('dashboard_project_subgroups', {'id': project.id}) }}"
                           class="expanded button small bg-olive round">
                            <i class="fontello-users"></i> {{ 'Subgroups of my Team'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') %}
                        <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"
                                class="expanded button dropdown small bg-olive round">
                            {{ 'Options'|trans }}
                        </button>
                        <ul id="drop1" data-dropdown-content="" class="f-dropdown" aria-hidden="true" tabindex="-1">
                            <li>
                                <a data-reveal-id="project-url-modal" href="#">
                                    {{ 'Open Project URL'|trans }}
                                </a>
                            </li>
                            <li>
                                <a id="download-pdf">{{ 'Create Output'|trans }}</a>
                            </li>
                                <li>
                                    <a data-reveal-id="add-accounts-modal" href="#">{{ 'Add accounts'|trans }}</a>
                                </li>
                                <li>
                                    <a data-reveal-id="user-add-modal" href="#">{{ 'Add users'|trans }}</a>
                                </li>

                                <li>
                                    <a data-reveal-id="user-delete-modal" href="#">{{ 'Delete users'|trans }}</a>
                                </li>

                        </ul>
                        {% endif %}
                        {% if is_granted('ROLE_EMPLOYER') %}
                            <a id="download-pdf"
                               class="expanded button small bg-olive round">
                               <i class="fontello-export"></i> {{ 'Create Output'|trans }}
                            </a>
                        {% endif %}
                    </div>
                    <br/>
                    {% include('@App/dashboard/users/team_users_list_table.html.twig') %}
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') or is_granted('ROLE_MANAGER') %}
        <div id="dimensions-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
            <div class="row">
                <div id="dimensions-content">
                    {% include('@App/dashboard/subgroup/dimensions-content.html.twig') %}
                </div>
                <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
            </div>
        </div>
    {% endif %}
    <div id="web-image-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            <div class="small-2 small-centered columns">
                <img id="web-image-loader" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <div class="small-centered columns">
                <img id="web-image-graph" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>
    <div id="project-url-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            <div class="small-centered columns" id="project-url">
                <label for="project-url-text">{{ 'Here is the registration link for this project'|trans }}</label>
                <input type="text" id="project-url-text" name="project-url"
                       value="{{ url('fos_user_registration_register', { 'hash': project.hash }) }}" readonly>
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>
    {% if is_granted('ROLE_PRACTITIONER') or is_granted('ROLE_ADMIN') %}
        <div id="user-add-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
            <div class="row">
                {{ include('@App/dashboard/users/add_user_list_table.html.twig') }}
                <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
            </div>
        </div>
        <div id="add-accounts-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
            <div class="row">
                <div class="amount-field">
                    <form method="post" action="{{ path('dashboard_project_add_accounts', {'project': project.id} ) }}"
                          data-abide>
                        <label for="amountNewUsers"> {{ 'Set count of user accounts for this project, to be added'|trans }}</label>
                        <input type="text" id="amountNewUsers" name="amountNewUsers" class='positive-number'
                               pattern='^[0-9]*$' value="0">
                        <small class="error">{{ 'Amount of new users should be greater than or equal to 0'|trans }}</small>
                        <input type="submit" class="button small bg-green round" value="{{ 'OK'|trans }}">
                    </form>
                </div>
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') or is_granted('ROLE_MANAGER') %}
        <div id="user-delete-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
            <div class="row">
                {{ include('@App/dashboard/users/delete_user_list_table.html.twig') }}
                <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
            </div>
        </div>
    {% endif %}
    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        var project = "{{ project.id }}";
        var openMessage = "{{ 'Open profile'|trans }}"
    </script>

    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/datatables/jquery.dataTables.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.sort.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.filter.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.paginate.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/project-info.js'
    output="cache/dashboard/js/*.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- page script -->

{% endblock %}
