<div class="small-centered columns" id="project-url">
    <dl>
        <dt>Here is you registration link for this project. Give it to your employers</dt>
        <dd><input type="text" name="project-url" value="{{ url('fos_user_registration_register', { 'hash': project.hash }) }}" readonly></dd>
    </dl>
</div>
<a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
<script>
    $(document).on("click", "#project-url", function () {
        $('#project-url-modal').foundation('reveal','open');
    });
</script>