<html>
<head>
    <title>Project Output</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/foundation.css') }}" />
    <style>
        body {
            font-size: 14px;
        }

        .text-center {
            text-align: center
        }

        .clearfix {
            clear: both;
        }

    </style>
</head>
<body>
<h4>
    {{ project.name }} {{ 'Style output'|trans }}
</h4>

<div>
    <i>{{ 'Date generated'|trans }}: {{ "now"|date("d/m/Y") }}</i>
</div>

<div class="text-center">
    <h5>{{ 'Team profile'|trans }}</h5>
    <img src="{{ project_web }}">
</div>

<div>
    {{ 'The Team style is'|trans }} <strong>{{ project_style }}</strong>
</div>
<br />
<div>
    {{ 'Members of the team'|trans }}:
    {% for user in project_users %}
        {{ user.firstName }} {{ user.lastName }},
    {% endfor %}
</div>
<br />
<div>
    {{ 'Company name'|trans }}: {{ project.name }}
</div>
<br />
<div>
    {{ 'Team name'|trans }}: {{ project.team }}
</div>
<br />
<div>
    <table style="border: none;">
        {% for user in project_users %}
            {% set remainder = (loop.index0 % 2) %}
            {% if remainder == 0 %}
                <tr>
            {% endif %}
            <td height="800">{{ render(controller('AppBundle:User:userWeb', {'user': user.id })) }} </td>
            {% if remainder == 0 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="clearfix"></div>
</body>
</html>