{% extends "@FOSUser/layout.html.twig" %}
{% block title %}
    {{ 'Log In'|trans }} | {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        {% if error %}
            <small class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</small>
        {% endif %}
        <div class="edumix-signup-panel">
            <form role="form" action="{{ path("fos_user_security_check") }}" method="post" name="login-form"
                   id="login-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="row collapse">
                    <div class="small-2  columns">
                        <span class="prefix bg-green"><i class="text-white icon-user"></i></span>
                    </div>
                    <div class="small-10  columns">
                        <input type="text" required="required" class="form-control" id="login-input-login" name="_username" value="{{ last_username }}" placeholder={{ 'Email'|trans }}>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns ">
                        <span class="prefix bg-green"><i class="text-white icon-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                        <input type="password"  name="_password" required="required" class="form-control" id="login-input-password" placeholder={{ 'Password'|trans }}>
                    </div>
                </div>
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">{{ 'Remember me for 2 weks'|trans }}</label>
                <p><a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password?'|trans }}</a></p>
                <input type="submit" class="button radius small expand bg-green" id="_submit" name="_submit" value="{{ 'Log In'|trans }}"/>
            </form>
        </div>
    </div>
{% endblock %}
