{% extends "@FOSUser/layout.html.twig" %}
{% block content %}
    <div class="row">
        <div class="edumix-signup-panel">
            <p>{{ 'Your account has not been activated yet. Please wait for activation or contact your Brainstyle Practitioner'|trans }}</p>
            <a href="{{ path('homepage') }}"> {{ 'Return to homepage'|trans }}</a>
        </div>
    </div>
{% endblock %}