<div class="small-6 large-centered columns box-test test-block">
    <div class="progress large radius bg-aqua">
        <span class="meter bg-white" style="width:0%"></span>
    </div>
    <div class="title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center question-title">
                    {{ question.text }}
                </div>
                <input type="hidden" name="question_type" value="{{ question['question_type'] }}">
                <input type="hidden" name="hash" value="{{ question['hash'] }}">
                <input type="hidden" name="order_type" value="{{ question['order_type'] }}">
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="alert" style="display: none">
                    <div class="box bg-red" >
                        <div class="box-header bg-red">
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <span class="box-btn" data-widget="remove"><i class="icon-cross"></i></span>
                            </div>
                            <h3 class="box-title "><i class="text-white fontello-cancel-circled"></i>
                                <span class="text-white">{{ 'ERROR'|trans }}</span>
                            </h3>
                        </div>
                            <!-- /.box-header -->
                        <div class="box-body " style="display: block;">
                            <p class="text-white" id="alert-description"></p>
                        </div>
                    </div>
                </div>
                <div id="list-type">
                    <div id="hint" style="text-align: center">
                        {{ 'Question hint' |trans }}
                    </div>
                    <div class="row">
                        <ul id="sortable">
                            {% for answer in question['answers'] %}
                                <li class="ui-state-default" id="answer"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                    <span class="ans-index">{{ loop.index }})</span>
                                    <div class="ans-text">{{ answer['text'] }}</div>
                                <input type="hidden" name="answer_number" value="{{ answer['answer_number'] }}">
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="checkbox-type" style="display: none"></div>
                <div id="radio-type" style="display: none"></div>
            </div>
            <div class="row">
                <ul class="pager" style="list-style-type: none; margin-left: 0;">
                    <li class="previous" style="display: none;">
                        <a class="left tiny radius button bg-aqua" href="#">&larr; {{ 'Previous'|trans }}</a>
                    </li>
                    <li class="next">
                        <a class="right tiny radius button bg-aqua" href="#">{{ 'Next'|trans }} &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
