{% extends 'dashboard/dashboard_base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/test/css/test-styles.css') }}">
{% endblock %}
{% block content %}
    {% include ':dashboard:test_top_nav.html.twig' %}
    {% include '@Test/wizard/_qa.html.twig' %}
    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}
{% block javascript %}

    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/test/js/qa.js') }}"></script>
    <script > var q_cnt = {{ questions_count }}</script>
{% endblock %}
