{% extends 'dashboard/dashboard_base.html.twig' %}
{% block content %}
    {% include ':dashboard:test_top_nav.html.twig' %}
    <div class="small-6 large-centered columns">
        <div class="box">
            <div class="title">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center question-title">
                           {{ 'Finish'|trans }}
                        </div>
                    </div>
                </div>
            </div>
            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="wrap-text">
                            {{ 'Finish test message'|trans }} <br><br>
                            <div class="col-sm-3  col-md-offset-5">
                                <a class="left tiny radius button bg-green" href="{{ path('fos_user_security_logout') }}">{{ 'Close'|trans }} &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% include 'dashboard/_footer.html.twig' %}
{% endblock %}
{% block javascript %}

    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/test/js/qa.js') }}"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
