{% extends 'dashboard/dashboard_base.html.twig' %}
{% trans_default_domain "messages" %}
{% block content %}
    {% include ':dashboard:test_top_nav.html.twig' %}
    <div class="small-6 large-centered columns box-test">
        <div class="progress large radius bg-aqua">
            <span class="meter bg-white" style="width:0%"></span>
        </div>
        <section id="content" >
            <div class="container">
                <div class="row">
                    <div class="alert" style="display: none">
                        <div class="box bg-red" >
                            <div class="box-header bg-red">
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i></span>
                                </div>
                                <h3 class="box-title "><i class="text-white fontello-cancel-circled"></i>
                                    <span class="text-white">{{ 'ERROR'|trans }}</span>
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body " style="display: block;">
                                <p class="text-white" id="alert-description"></p>
                            </div>
                        </div>
                    </div>
                    <div id="form">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_label(form, 'userinfo.hint'|trans) }} <br />
                        {{ form_row(form.gender)}}
                        {{ form_row(form.birthYear)}}
                        {{ form_label(form.educationLevel) }}
                        {% for answer in form.educationLevel %}
                            {{ form_widget(answer) }}
                            {{ form_label(answer) }}
                            <br />
                        {% endfor %}
                        {{ form_label(form.reason) }}
                        {{ form_errors(form.reason) }}
                        {% for answer in form.reason %}
                            {{ form_widget(answer) }}
                            {{ form_label(answer) }}
                            <br />
                        {% endfor %}
                        <div id="checkbox-type" style="display: none"></div>
                        <div id="radio-type" style="display: none"></div>
                        <input type="submit" value="{{ 'Next'|trans }} &rarr;" class="right tiny radius button bg-aqua"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}
{% block javascript %}

    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/test/js/qa.js') }}"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/test/css/test-styles.css') }}">
{% endblock %}
