<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
            Breinstijl
        {% endblock title %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/foundation.css') }}" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/dripicon.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/typicons.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/theme.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/login.css') }}">
        <!-- pace loader -->
        <script src="{{ asset('bundles/app/dashboard/bootstrap/js/pace/pace.js') }}"></script>
        <link href="{{ asset('bundles/app/dashboard/bootstrap/js/pace/themes/orange/pace-theme-flash.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/js/slicknav/slicknav.css') }}" />
        <script src="{{ asset('bundles/app/dashboard/bootstrap/js/vendor/modernizr.js') }}"></script>
    {% endblock stylesheets %}

</head>

{% block body %}
<!-- preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- End of preloader -->
<!-- right sidebar wrapper -->

<div class="inner-wrap">
    <div class="wrap-fluid">
        <br>
        <br>
        <!-- Container Begin -->
        <div class="large-offset-4 large-4 columns">
            <div class="box bg-white">
                <img alt="" class="" src="{{ 'logoPath'|trans|raw }}">

                <!-- /.box-header -->
                <div class="box-body " style="display: block;">
                    <div class="row">
                        <div class="large-12 columns">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- end .timeline -->
            </div>
            <!-- box -->
        </div>
    </div>
    <!-- End of Container Begin -->
</div>

    <!-- end paper bg -->



    <!-- end of inner-wrap -->
{% block javascripts %}
    <script type='text/javascript' src="{{ asset('bundles/app/dashboard/bootstrap/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/dashboard/bootstrap/js/waypoints.min.js') }}"></script>
    <script type='text/javascript' src='{{ asset('bundles/app/dashboard/bootstrap/js/preloader-script.js') }}'></script>
    <!-- foundation javascript -->
    <script type='text/javascript' src="{{ asset('bundles/app/dashboard/js/foundation.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('cache/dashboard/js/ce1b648_foundation.dropdown_5.js') }}"></script>
    <!-- main edumix javascript -->
    <script type='text/javascript' src='{{ asset('bundles/app/dashboard/bootstrap/js/slimscroll/jquery.slimscroll.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/app/dashboard/bootstrap/js/slicknav/jquery.slicknav.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/app/dashboard/bootstrap/js/sliding-menu.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/app/dashboard/bootstrap/js/scriptbreaker-multiple-accordion-1.js') }}'></script>
    <script type="text/javascript" src="{{ asset('bundles/app/dashboard/js/number/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/dashboard/js/circle-progress/jquery.circliful.js') }}"></script>
    <script type='text/javascript' src='{{ asset('bundles/app/dashboard/js/app.js') }}'></script>
    <!-- additional javascript -->
    <script>
        $(document).foundation();
    </script>
{% endblock javascripts %}
{% endblock %}

</html>