{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain "FOSUserBundle" %}
{% block content %}
    <div class="row">
        <div class="edumix-signup-panel">
            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </p>
            <a href="{{ path('homepage') }}"> {{ 'Return to homepage'|trans({}, 'messages') }}</a>
        </div>
    </div>
{% endblock %}