{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain "FOSUserBundle" %}
{% block content %}
    <div class="row">
        <div class="edumix-signup-panel">
            <p>{{ 'resetting.password_already_requested'|trans }}</p>
            <a href="{{ path('homepage') }}"> {{ 'Return to homepage'|trans({}, 'messages') }}</a>
        </div>
    </div>
{% endblock %}
