{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain "FOSUserBundle" %}
{% block content %}
    <div class="row">
        <div class="edumix-signup-panel">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    {% if invalid_username is defined %}
                    <small class="error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</small>
                    {% endif %}
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <div>
                    <input class="button radius small expand bg-green" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}