{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain "FOSUserBundle" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="edumix-signup-panel">
                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                    {% if form.plainPassword.first.vars.errors|length %}
                        <small class="error"> {{ form_errors(form.plainPassword.first) }} </small>
                    {% endif %}
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    <div>
                        <input class="button radius small expand bg-green" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}