<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="icon-preview"></i>
                    <span>{{ 'Practitioners'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">

                <table id="practitioner-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Amount of projects'|trans }}</th>
                        <th>{{ 'Amount of users'|trans }}</th>
                        <th>{{ 'Profile'|trans }}</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Amount of projects'|trans }}</th>
                        <th>{{ 'Amount of users'|trans }}</th>
                        <th>{{ 'Profile'|trans }}</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>