{% extends ':dashboard:dashboard_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.core.css?v=2-0-1') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable.standalone.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/app/dashboard/js/footable/css/footable-demos.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    {% include ':dashboard:_left_sidebar.html.twig' %}
    {% include ':dashboard:_top_nav.html.twig' %}
    <!-- breadcrumbs -->
    <ul class="breadcrumbs breadcrumbs-fixed ">
        <li><a href="#"><span class="entypo-home"></span></a>
        </li>
        <li><a href="{{ path('dashboard_index') }}">{{ 'Dashboard'|trans }}</a>
        </li>
        <li>{{ 'All colleagues'|trans }}
        </li>
    </ul>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include '@App/dashboard/_success_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '@App/dashboard/users/_error_info.html.twig' with {'flashMessage': flashMessage} %}
    {% endfor %}
    <div class="row">
        <div class="large-12 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    </div>
                    <h3 class="box-title"><i class="icon-window"></i>
                        <span>{{ 'All colleagues'|trans }}</span>
                    </h3>
                </div>
                <div class="box-body" style="display: block;">
                    <div class="row">
                        <a href="{{ path('dashboard_user_subgroups') }}"
                           class="expanded button small bg-olive round">
                            <i class="fontello-users"></i> {{ 'Subgroups of my Company'|trans }}
                        </a>
                    </div>
                    <br/>
                    {{ include('@App/dashboard/users/user_list_table.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div id="user-web-image-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <div class="row">
            <div class="small-2 small-centered columns">
                <img id="user-image-loader" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <div class="small-centered columns">
                <img id="user-web-image-graph" src="{{ asset("bundles/app/images/loading.gif") }}">
            </div>
            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
        </div>
    </div>
    {% include ':dashboard:_footer.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/app/dashboard/js/all-colleagues.js') }}"></script>

    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/datatables/jquery.dataTables.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.sort.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.filter.js'
    '@AppBundle/Resources/public/dashboard/js/footable/js/footable.paginate.js'
    '@AppBundle/Resources/public/dashboard/js/foundation/foundation.reveal.js'
    output="cache/dashboard/js/*.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- page script -->

{% endblock %}
