<div class="large-6 columns">
    <div class="box">
        <div class="box-body tips">
            <blockquote class="normal-font" >
                <strong>
                    {{ 'Tip message'|trans|format(style|upper) }}
                </strong>
                <p>
                    {{ tip }}
                </p>
            </blockquote>
        </div>
    </div>
</div>