<div class="row">
    <div class="large-12 columns">
        <div class="box bg-yellow" style="display: none" id="warning-alert-delete">
            <div class="box-header bg-yellow">
                <!-- tools box -->
                <div class="pull-right box-tools">
                                                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                                    </span>
                </div>
                <h3 class="box-title "><i class="text-white fontello-warning"></i>
                    <span class="text-white">{{ 'WARNING'|trans }}</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: block;">
                <p class="text-white"><strong id="warning-alert-delete-test"></strong></p>
            </div>
        </div>
        <div class="box">
            <div class="box-body " style="display: block;">
                <table id="delete-users-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Team name'|trans }}</th>
                        <th>{{ 'User type'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Individual Style'|trans }}</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Team name'|trans }}</th>
                        <th>{{ 'User type'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Individual Style'|trans }}</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
                <a id="delete-user-submit" href="#" class="button small bg-red round"
                   type="submit"><i class="fontello-minus"></i>{{ 'Delete users'|trans }}</a>
            </div>
        </div>
    </div>

</div>
