
<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <h3 class="box-title"><i class="icon-window"></i>
                    <span>{{ 'User info'|trans }}</span>
                </h3>
            </div>
            <div class="box-body" style="padding-left: 35px;">
                <div class="row">
                    <a href="#" class="user-web-thumbnail" hidden="hidden"><img class="user-image img-rounded" src="" alt="Yor web" width="220" align="right"></a>
                    <h4 class="subheader">{{ 'You are a'|trans }} <strong>{{ app.user.mainStyle }}</strong></h4>
                    <p style="font-size: 18px !important;">{{ (app.user.mainStyle  ~ '.short')|trans({}, 'style_content')|raw }}
                        <a data-reveal-id="user-style-modal" href="#">{{ 'Click here to read more about your own BrainStyle'|trans({}, 'messages') }}</a>
                    </p>
                    <div id="user-style-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
                        <div class="row">
                            <div class="small-centered columns">
                                <img src="{{ asset('bundles/app/images/' ~ app.user.mainStyle ~ '.png'|replace(' ','_')) }}" alt="Yor web" width="160" height="120" align="left">
                                <h4 class="{{ app.user.mainStyle }}">{{ app.user.mainStyle }}</h4>
                                <div class="description" style="color: #222221;">
                                    <p>{{ (app.user.mainStyle  ~ '.short')|trans({}, 'style_content')|raw }}</p>
                                    {{ (app.user.mainStyle  ~ '.rest')|trans({}, 'style_content')|raw }}
                                </div>
                                <p class="{{ app.user.mainStyle }}">{{ 'KEY WORDS'|trans({}, 'style_content') }}
                                    <strong>{{ (app.user.mainStyle  ~ '.keywords')|trans({}, 'style_content')|raw  }}</strong></p>
                            </div>
                            <a class="close-reveal-modal" aria-label="{{ 'Close'|trans({}, 'messages') }}">&#215;</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for project in app.user.projects %}
                        <a href="{{ path('dashboard_projects_info', {'project': project.id}) }}"
                           class="large-2 button small bg-olive round">
                            {{ 'Team page'|trans }}: {{ project.team }}
                        </a>
                    {% endfor %}
                    <a href="#"
                       class="profile-open large-2 button small bg-olive round">
                        {{ 'Open my profile'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row" >
        <div class="large-6 columns">
            <div class="box">
                <div class="box-body tips">
                    <blockquote class="normal-font">
                        <strong>
                            {{ 'THE CHARACTERISTICS OF YOUR BRAINSTYLE@WORK'|trans }}
                        </strong>
                        <p>{{ render(controller('AppBundle:BrainstyleCharacteristic:getRandomCharacteristic', {'style': app.user.mainStyle})) }}</p>
                    </blockquote>
                </div>
            </div>
        </div>
        {{ render(controller('AppBundle:BrainstyleTip:getRandomTip')) }}
    </div>
    <div class="row">
        <div class="panel panel-default bg-white large-3 columns">
            <div class="panel-heading">
                <h6 class="text-black">
                    <a id="speeddating-modal-href" href="#" data-reveal-id="speeddating-modal">
                        {{ 'Speeddating'|trans }}
                    </a>
                </h6>
                <hr>
            </div>
            <div class="panel-body">
                {{ 'Speeddating info'|trans }}
            </div>
        </div>
        <div class="panel panel-default bg-white large-3 columns">
            <div class="panel-heading">
                <h6 class="text-black">
                    <a id="effective-meeting-modal-href" href="#" data-reveal-id="effective-meeting-modal">
                        {{ 'Effective Meeting'|trans }}
                    </a>
                </h6>
                <hr>
            </div>
            <div class="panel-body">
                {{ 'Energetic meeting info'|trans }}
            </div>
        </div>
        <div class="panel panel-default bg-white large-3 columns">
            <div class="panel-heading">
                <h6 class="text-black">
                    <a id="powerful-presentation-modal-href" data-reveal-id="powerful-presentation-modal" href="#">
                        {{ 'Powerful Presentation'|trans }}
                    </a>
                </h6>
                <hr>
            </div>
            <div class="panel-body">
                <p>{{ 'Important Presentation info'|trans }}</p>
            </div>
        </div>
        <div class="panel panel-default bg-white large-3 columns">
            <div class="panel-heading">
                <h6 class="text-black">
                    <a id="brainstyles-overview-modal-href" data-reveal-id="brainstyles-overview-modal" href="#">
                        {{ 'BrainStyles overview'|trans }}
                    </a>
                </h6>
                <hr>
            </div>
            <div class="panel-body">
                {{ 'Brainstyles overview'|trans }}
            </div>
        </div>
    </div>

<div id="user-web-image-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-2 small-centered columns">
            <img id="user-image-loader" src="{{ asset("bundles/app/images/loading.gif") }}">
        </div>
        <div class="small-centered columns">
            <img id="user-web-image-graph" src="{{ asset("bundles/app/images/loading.gif") }}">
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<script>
    var style = "{{ app.user.mainStyle.id }}";
</script>
