<table id="users-table-{{ id }}" class="display" style="width:100%">
    <thead>
    <tr>
        <th>{{ 'Company name'|trans }}</th>
        <th>{{ 'Team name'|trans }}</th>
        <th>{{ 'User type'|trans }}</th>
        <th>{{ 'First name'|trans }}</th>
        <th>{{ 'Last name'|trans }}</th>
        <th>{{ 'Individual Style'|trans }}</th>
        <th>{{ 'Web'|trans }}</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>{{ 'Company name'|trans }}</th>
        <th>{{ 'Team name'|trans }}</th>
        <th>{{ 'User type'|trans }}</th>
        <th>{{ 'First name'|trans }}</th>
        <th>{{ 'Last name'|trans }}</th>
        <th>{{ 'Individual Style'|trans }}</th>
        <th>{{ 'Web'|trans }}</th>
    </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>
