<table id="users-table-{{ id }}" class="display" style="width:100%">
    <thead>
    <tr>
        <th>{{ 'Company name'|trans }}</th>
        <th>{{ 'Team name'|trans }}</th>
        <th>{{ 'User type'|trans }}</th>
        <th>{{ 'First name'|trans }}</th>
        <th>{{ 'Last name'|trans }}</th>
        <th>{{ 'Individual Style'|trans }}</th>
        <th>{{ 'Web'|trans }}</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>{{ 'Company name'|trans }}</th>
        <th>{{ 'Team name'|trans }}</th>
        <th>{{ 'User type'|trans }}</th>
        <th>{{ 'First name'|trans }}</th>
        <th>{{ 'Last name'|trans }}</th>
        <th>{{ 'Individual Style'|trans }}</th>
        <th>{{ 'Web'|trans }}</th>
    </tr>
    </tfoot>
    <tbody>

    </tbody>
</table>
<div id="user-style-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-centered columns">
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans({}, 'messages') }}">&#215;</a>
    </div>
</div>
<div id="user-info-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-centered columns">
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans({}, 'messages') }}">&#215;</a>
    </div>
</div>
