<div id="effective-meeting-modal" class="reveal-modal pdf-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="effective-meeting-iframe" class="pdf-iframe" src="{{ 'effectiveMeetingPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="speeddating-modal" class="reveal-modal pdf-modal" style="height: 70%;" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="speeddating-iframe" class="pdf-iframe" src="{{ 'speeddatingPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="brainstyles-overview-modal" class="reveal-modal pdf-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="brainstyles-overview-iframe" class="pdf-iframe" src="{{ '9BrainstylesPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="powerful-presentation-modal" class="reveal-modal pdf-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="powerful-presentation-iframe" class="pdf-iframe" src="{{ 'powerfulPresentationPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>