{% set style_img = style|replace(' ', '_') %}
<img src="{{ asset('bundles/app/images/' ~ style_img ~ '.png') }}" alt="Yor web" width="160" height="120" align="left">
<h4 class="{{ style }}">{{ style }}</h4>
<div class="description" style="color: #222221;">
    <p>{{ (style  ~ '.short')|trans({}, 'style_content')|raw }}</p>
    {{ (style  ~ '.rest')|trans({}, 'style_content')|raw }}
</div>
<p class="{{ style }}">{{ 'KEY WORDS'|trans({}, 'style_content') }}
    <strong>{{ (style  ~ '.keywords')|trans({}, 'style_content')|raw  }}</strong>
</p>