<div class="row">
    <div class="large-12 columns">
        <div class="box">
            <div class="box-header bg-transparent">
                <div class="pull-right box-tools">
                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="fontello-users"></i>
                    <span>{{ 'Users'|trans }}</span>
                </h3>
            </div>
            <div class="box-body " style="display: block;">

                <table id="users-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Team name'|trans }}</th>
                        <th>{{ 'User type'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Individual Style'|trans }}</th>
                        <th>{{ 'Web'|trans }}</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>{{ 'Company name'|trans }}</th>
                        <th>{{ 'Team name'|trans }}</th>
                        <th>{{ 'User type'|trans }}</th>
                        <th>{{ 'First name'|trans }}</th>
                        <th>{{ 'Last name'|trans }}</th>
                        <th>{{ 'Individual Style'|trans }}</th>
                        <th>{{ 'Web'|trans }}</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="web-image-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-2 small-centered columns">
            <img id="loader" src="{{ asset("bundles/app/images/loading.gif") }}">
        </div>
        <div class="small-centered columns">
            <img id="web-image-graph" src="{{ asset("bundles/app/images/loading.gif") }}">
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="user-info-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-centered columns">
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="user-style-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-centered columns">
        </div>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<script src="{{ asset('bundles/app/dashboard/js/foundation.min.js') }}"></script>
<script src="{{ asset('bundles/app/dashboard/js/foundation/foundation.abide.js') }}"></script>
