<dl>
    <dt>{{ 'First name'|trans }}</dt>
    <dd>{{ user.firstName }}</dd>
    <dt>{{ 'Last name'|trans }}</dt>
    <dd>{{ user.lastName }}</dd>
    <dt>{{ 'Email'|trans }}</dt>
    <dd>{{ user.email }}</dd>
    <dt>{{ 'Gender'|trans }}</dt>
    <dd>{{ user.gender }}</dd>
    <dt>{{ 'Birth year'|trans }}</dt>
    <dd>{{ user.birthYear }}</dd>
    <dt>{{ 'Education level'|trans }}</dt>
    <dd>{{ user.educationLevel|trans }}</dd>
    <dt>{{ 'Reasons'|trans }}</dt>
    {% for reason in user.reason %}
        <dd>{{ reason|trans }}</dd>
    {% endfor %}
</dl>