<footer>
    <div id="footer">
        {{ 'Copyright'|trans }} &copy; 2015 {{ 'Brainstyle at Work'|trans }}.
        {{ 'Made with'|trans }} <a href="http://www.webuildconcepts.nl" target="_blank"><i class="fontello-heart-1 text-green"></i></a>
        by <a href="http://www.webuildconcepts.nl" target="_blank">WeBuildConcepts</a>
    </div>
</footer>
