<!-- Right sidemenu -->
<div id="skin-select" class="fixed-nest">
    <!--      Toggle sidemenu icon button -->
    <a id="toggle">
        <span class="fa icon-menu"></span>
    </a>
    <!--      End of Toggle sidemenu icon button -->

    <div class="skin-part">
        <div id="tree-wrap">
            <!-- Profile -->
            <div class="logo-div" style="">
                <img src="{{ 'logoPath'|trans }}">
            </div>
            <!-- End of Profile -->

            <!-- Menu sidebar begin-->
            <div class="fixed-nest-sidebar">
                <div class="side-bar sidebar-fixed">
                    <ul id="menu-showhide" class="topnav slicknav">
                        <li>
                            <a id="menu-select" class="tooltip-tip" href="{{ path('dashboard_index') }}"
                               title="Dashboard">
                                <i class="icon-monitor"></i>
                                <span>{{ 'Dashboard'| trans }}</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="tooltip-tip" href="#" title="Mail">
                                    <i class=" icon-preview"></i>
                                    <span>{{ 'Practitioners'|trans }}</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ path('dashboard_practitioner_list') }}">{{ 'Overview'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('dashboard_practitioner_create') }}">{{ 'Create Practitioner'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('dashboard_order_list') }}">{{ 'Ordered Accounts'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRACTITIONER') %}
                            <li>
                                <a class="tooltip-tip" href="#">
                                    <i class=" icon-window"></i>
                                    <span>{{ 'Projects'|trans }}</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ path('dashboard_projects_list') }}">{{ 'Overview'|trans }}</a>
                                    </li>
                                    {% if is_granted('ROLE_PRACTITIONER') %}
                                        <li>
                                            <a href="{{ path('dashboard_projects_create') }}">{{ 'Create project'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('dashboard_order_user_list') }}">{{ 'Ordered Accounts'|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="#" title="{{ 'Users'|trans }}">
                                    <i class=" icon-user"></i>
                                    <span>{{ 'Users'|trans }}</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ path('dashboard_users_list') }}">{{ 'Overview'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_create') }}">{{ 'Add user'|trans }}</a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('dashboard_users_general_info') }}">{{ 'General info'|trans }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_EMPLOYER') %}
                            <li>
                                <a class="tooltip-tip" href="#">
                                    <i class="fontello-users-outline"></i>
                                    <span>{{ 'My company'|trans }}</span>
                                </a>
                                <ul>
                                    {% for team in app.user.projects %}
                                        <li>
                                            <a href="{{ path('dashboard_projects_info', { project: team.id }) }}">{{ team.team }}</a>
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <a href="{{ path('user_all_colleagues') }}">
                                            {{ 'All colleagues'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="tooltip-tip" href="#">
                                    <i class=" icon-gear"></i>
                                    <span>{{ 'Toolkit'|trans }}</span>
                                </a>
                                <ul>
                                    <li>
                                        <a id="speeddating-modal-href" href="#" data-reveal-id="speeddating-modal">
                                            {{ 'Speeddating'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a id="effective-meeting-modal-href" href="#" data-reveal-id="effective-meeting-modal">
                                            {{ 'Effective Meeting'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a id="powerful-presentation-modal-href" data-reveal-id="powerful-presentation-modal" href="#">
                                            {{ 'Powerful Presentation'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a id="brainstyles-overview-modal-href" data-reveal-id="brainstyles-overview-modal" href="#">
                                            {{ 'BrainStyles overview'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- end of Menu sidebar  -->
            <ul class="bottom-list-menu">
                <li id="profile-explanation-href" data-reveal-id="application-info-modal">
                    {{ 'Application'|trans }} <span class="icon-help"></span>
                </li>
                <li id="profile-explanation-href" data-reveal-id="profile-explanation-modal">
                    {{ 'Profile explanation'|trans }} <span class="fontello-info-outline"></span>
                </li>
                <li data-reveal-id="model-info-modal">
                    {{ 'Model'|trans }} <span class="icon-preview"></span>
                </li>
                <li data-reveal-id="more-information-modal">
                    {{ 'More information'|trans }} <span class="icon-information"></span>
                </li>
                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_EMPLOYER') %}
                    <li>
                        <a href="{{ path('user_report') }}" target="_blank" style="color: inherit;">{{ 'Download report'|trans }} <span class="icon-document"></span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="model-info-modal" class="reveal-modal pdf-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="model-info-iframe" class="pdf-iframe" src="{{ 'modelPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="application-info-modal" class="reveal-modal pdf-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="application-info-iframe" class="pdf-iframe" src="{{ 'applicationPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="more-information-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        {{ 'More information content'|trans|raw }}
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
<div id="profile-explanation-modal" class="reveal-modal pdf-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <iframe id="profile-explanation-iframe" class="pdf-iframe" src="{{ 'profileExplanationPath'|trans }}"></iframe>
        <a class="close-reveal-modal" aria-label="{{ 'Close'|trans }}">&#215;</a>
    </div>
</div>
{% if is_granted('ROLE_EMPLOYER') or is_granted('ROLE_MANAGER') %}
    {{ include('@App/dashboard/users/toolkit_popups.html.twig') }}
{% endif %}
<!-- end of Rightsidemenu -->