<!-- top nav -->
{% block topbar %}
<div class="top-bar-nest">
    <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area left">


            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
            </li>
        </ul>

        <section class="top-bar-section ">
            <ul class="right">
                <li class=" has-dropdown bg-white">
                    <a class="bg-white" href="#"><span
                                class="admin-pic-text text-gray">{{ 'Welcome back'|trans }} {{ app.user.firstName }} </span>
                    </a>

                    <ul class="dropdown dropdown-nest profile-dropdown">
                        <li>
                            <i class="icon-user"></i>
                            <a id="user-profile" href="#">
                                <h4>{{ 'Profile'|trans }}</h4>
                            </a>
                        </li>
                        <li>
                            <i class="icon-upload"></i>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <h4>{{ 'Logout'|trans }}</h4>
                            </a>
                        </li>
                    </ul>
                </li>
                {% include '@App/dashboard/user-profile.html.twig' %}
                <li>
                    {% if is_granted('ROLE_PRACTITIONER') %}
                        {% set balance = 0 %}
                        {% if app.user.balance %}
                            {% set balance = app.user.balance.amountUsers %}

                        {% endif %}
                        <a class="bg-white"  data-reveal-id="add-order" href="#"><span
                                    class="admin-pic-text text-gray">{{ 'You have %d registrations left'|format(balance) }}</span>
                        </a>
                        {{ render(controller('AppBundle:Dashboard:getAddOrder')) }}
                    {% endif %}
                </li>
                <li class=" has-dropdown bg-white">
                    <a class="bg-white" href="#"><span
                                class="admin-pic-text text-gray fa fa-globe"> {{ app.request.locale|upper }} </span>
                    </a>
                    {% set route =  app.request.get('_route') %}
                    {% set route_params = app.request.attributes.get('_route_params')| merge(app.request.query.all) %}
                    <ul class="dropdown dropdown-nest profile-dropdown">
                        <li {% if app.request.locale == 'nl' %}class="dropdown-checked"{% endif %}>
                            <a href="{{ path(route, route_params | merge({'_locale': 'nl'}) ) }}"><h4>Dutch</h4></a>
                        </li>
                        <li {% if app.request.locale == 'en' %}class="dropdown-checked"{% endif %}>
                            <a href="{{ path(route, route_params | merge({'_locale': 'en'})) }}"><h4>English</h4></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
{% endblock %}
<script src="{{ asset('bundles/app/dashboard/bootstrap/js/jquery.js') }}"></script>
<script>
    $(document).on("click", "#user-profile", function () {
        $('#profile-modal').foundation('reveal','open');
    });
</script>
<!-- end of top nav -->
