<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breinstijl | Dashboard</title>


    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/dashboard/css/foundation.css'
        '@AppBundle/Resources/public/dashboard/css/dashboard.css'
        '@AppBundle/Resources/public/dashboard/css/style.css'
        '@AppBundle/Resources/public/dashboard/css/dripicon.css'
        '@AppBundle/Resources/public/dashboard/css/typicons.css'
        '@AppBundle/Resources/public/dashboard/css/font-awesome.css'
        '@AppBundle/Resources/public/dashboard/css/theme.css'
        '@AppBundle/Resources/public/dashboard/js/pace/themes/orange/pace-theme-flash.css'
        '@AppBundle/Resources/public/dashboard/js/slicknav/slicknav.css'
        filter='cssrewrite'
        output="cache/dashboard/css/*.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <script src="{{ asset('bundles/app/dashboard/bootstrap/js/jquery.js') }}"></script>
    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/pace/pace.js'
    '@AppBundle/Resources/public/dashboard/js/vendor/modernizr.js'
    output="cache/dashboard/js/*.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>
<!-- preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- End of preloader -->

<div class="off-canvas-wrap" data-offcanvas>
    <!-- right sidebar wrapper -->
    <div class="inner-wrap">
        <div class="wrap-fluid" id="paper-bg">
            {% block content %}{% endblock %}
        </div>

    </div>
    <!-- end paper bg -->

</div>

{% block javascript %}
    <script>
        var logo = "{{ 'logoPath'|trans }}";
    </script>
    {% javascripts
    '@AppBundle/Resources/public/dashboard/js/waypoints.min.js'
    '@AppBundle/Resources/public/dashboard/js/preloader-script.js'
    '@AppBundle/Resources/public/dashboard/js/foundation.min.js'
    '@AppBundle/Resources/public/dashboard/js/slimscroll/jquery.slimscroll.js'
    '@AppBundle/Resources/public/dashboard/js/slicknav/jquery.slicknav.js'
    '@AppBundle/Resources/public/dashboard/js/sliding-menu-fixed.js'
    '@AppBundle/Resources/public/dashboard/js/scriptbreaker-multiple-accordion-1.js'
    '@AppBundle/Resources/public/dashboard/js/number/jquery.counterup.min.js'
    '@AppBundle/Resources/public/dashboard/js/circle-progress/jquery.circliful.js'
    '@AppBundle/Resources/public/dashboard/js/app.js'
    '@AppBundle/Resources/public/dashboard/js/number-progress-bar/jquery.velocity.min.js'
    '@AppBundle/Resources/public/dashboard/js/number-progress-bar/number-pb.js'
    '@AppBundle/Resources/public/dashboard/js/loader/loader.js'
    '@AppBundle/Resources/public/dashboard/js/loader/demo.js'
    '@AppBundle/Resources/public/dashboard/js/flot/jquery.flot.js'
    '@AppBundle/Resources/public/dashboard/js/flot/jquery.flot.resize.min.js'
    '@AppBundle/Resources/public/dashboard/js/flot/jquery.flot.pie.min.js'
    '@AppBundle/Resources/public/dashboard/js/flot/jquery.flot.categories.min.js'
    '@AppBundle/Resources/public/dashboard/js/skycons/skycons.js'
    '@AppBundle/Resources/public/dashboard/js/modal-close.js'
        output="cache/dashboard/js/*.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).foundation();
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69570342-1', 'auto');
        ga('send', 'pageview');

    </script>

{% endblock %}
</body>
</html>
