{% extends ':dashboard:_top_nav.html.twig' %}
{% block topbar %}
    <div class="top-bar-nest">
        <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
            <section class="top-bar-section ">
                <div class="left">
                    <img src="{{ 'logoPath'|trans|raw }}" width="170">
                </div>
            </section>
        </nav>
    </div>
{% endblock %}