{% extends ':landing:base.html.twig' %}
{% block body %}
    {% include ':landing:_header.html.twig' %}

		<!-- ========== TITLE START ========== -->

		<div class="title">
			<div class="title-image"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						About Us
					</div>
				</div>
			</div>
		</div>

		<!-- ========== TITLE END ========== -->

		<!-- ========== CONTENT START ========== -->

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="video-wrapper">
							<iframe width="853" height="480" src="http://www.youtube.com/embed/L2LNK2MW_xQ" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-sm-6">
						<h1>Welcome to The Smartway</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.</p>
						<ul>
							<li>Fusce iaculis ornare nunc rutrum ornare.</li>
							<li>Proin ut placerat enim, vel venenatis urna.</li>
							<li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
							<li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
							<li>Nullam aliquet placerat magna ut eleifend.</li>
							<li>Phasellus iaculis tristique laoreet.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== CONTENT END ========== -->

		<!-- ========== OUR SERVICES START ========== -->

		<section id="services" class="alt-background">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="text-center carousel-title">Our Offer</h2>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-sm-3">
						<p><img src="http://placehold.it/90x80.png" alt="" /></p>
						<h3>Best Teachers</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
					<div class="col-sm-3">
						<p><img src="http://placehold.it/90x80.png" alt="" /></p>
						<h3>Video Courses</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
					<div class="col-sm-3">
						<p><img src="http://placehold.it/90x80.png" alt="" /></p>
						<h3>Audio Courses</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
					<div class="col-sm-3">
						<p><img src="http://placehold.it/90x80.png" alt="" /></p>
						<h3>Great Results</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== OUR SERVICES END ========== -->

		<!-- ========== REVIEWS START ========== -->

		<section id="about-reviews">
			<div class="tint"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center" data-scroll-reveal>

						<h2>What Our Students Say</h2>

						<!-- OWL CAROUSEL START -->
						<div class="owl-carousel">
							
							<div class="item">
								<blockquote>Donec varius ante in turpis faucibus sagittis. Vestibulum lacinia ante eget fringilla lobortis. Nunc sollicitudin, arcu at fringilla varius, turpis dui venenatis augue, at adipiscing ante ipsum vel leo. In a sem sit amet mi condimentum semper. Nulla eleifend convallis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit erat eu suscipit porttitor. Sed vestibulum mauris sit amet eros feugiat egestas. Ut rhoncus imperdiet est eget ullamcorper. Fusce at orci sed augue aliquam malesuada. <small>Sally Peterson, Student</small></blockquote>
							</div>
							
							<div class="item">
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper consectetur nunc ac pretium. Nullam vel lectus non augue imperdiet porta. Proin commodo malesuada faucibus. Integer at lacinia lacus. Vestibulum dignissim imperdiet est vel ornare. Sed vehicula luctus massa, sit amet porta purus feugiat a. Cras tincidunt neque vitae enim pellentesque, nec congue mauris suscipit. Praesent sit amet odio lacus. <small>Malcolm Carr, Student</small></blockquote>
							</div>
							
							<div class="item">
								<blockquote>Integer faucibus orci eu lorem vulputate, non semper odio consectetur. Phasellus eu commodo lectus, interdum molestie nunc. Maecenas aliquet sagittis elementum. Nulla lobortis diam nisl, id consectetur nunc faucibus viverra. Donec vel porta augue, eget accumsan lorem. Sed dictum consequat ipsum eget porta. Donec imperdiet dolor at ante interdum, sed viverra orci iaculis. Donec vestibulum nulla at tortor molestie, vel convallis neque vestibulum. Phasellus luctus purus ut tincidunt imperdiet. <small>Antonia Owen, Student</small></blockquote>
							</div>
							
							<div class="item">
								<blockquote>Vestibulum viverra dolor lorem, vitae ornare velit facilisis eget. Phasellus ornare, mauris id interdum cursus, velit libero dictum dolor, a vehicula lacus enim id tortor. Vestibulum faucibus nec elit id iaculis. Aenean lorem ante, pretium ac iaculis non, tincidunt in quam. Nunc lobortis dictum dui. Pellentesque sagittis luctus posuere. Sed suscipit mi vitae orci accumsan, ut imperdiet odio molestie. <small>Jared Murray, Student</small></blockquote>
							</div>
							
						</div>
						<!-- OWL CAROUSEL END -->

					</div>
				</div>
			</div>
		</section>

		<!-- ========== REVIEWS END ========== -->
    {% include ':landing:_prefooter.html.twig' %}
	{% include ':landing:_footer.html.twig' %}
{% endblock body %}