<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/foundation.css') }}" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/dripicon.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/typicons.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/bootstrap/css/theme.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/login.css') }}">
        <!-- pace loader -->
        <script src="{{ asset('bundles/app/dashboard/bootstrap/js/pace/pace.js') }}"></script>
        <link href="{{ asset('bundles/app/dashboard/bootstrap/js/pace/themes/orange/pace-theme-flash.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/js/slicknav/slicknav.css') }}" />
        <script src="{{ asset('bundles/app/dashboard/bootstrap/js/vendor/modernizr.js') }}"></script>
    {% endblock stylesheets %}

</head>
{% block content %}
    <br>
    <br>
    <div class="large-offset-4 large-4 columns">
        <div class="box bg-white">
            <div class="profile">
                <img alt="" class="" src="{{ asset('logo.png') }}">
                <h3>Breinstijl</h3>
            </div>
        <div class="box-body " style="display: block;">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="edumix-signup-panel">
                            <div class="row">
                                <div class="col-sm-6 col-lg-offset-2">
                                    <div class="container">
                                        <h5 style="text-align: center">
                                            {{ "It is not possible to register, please ask your Manager or Practitioner
                                             to unlock more users."|trans  }}
                                        </h5>
                                        <a class="button small bg-green round" href="{{ path('homepage') }}">{{ "Return to homepage."|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}