{% extends 'landing/base.html.twig' %}
{% block body %}
    <div id="home"></div>
    {% include 'landing/_header.html.twig' %}
    <div id="slides">
        <div class="slides-container">
            <img src="//placehold.it/1600x900.jpg" alt=""/>
            <img src="//placehold.it/1600x900.jpg" alt=""/>
            <img src="//placehold.it/1600x900.jpg" alt=""/>
        </div>

        <div class="tint"></div>

        <!-- SLIDER OFFERS START -->
        <div class="slider-offers text-center">
            <ul>
                <li>
                    <h3>HTML Template for LMS</h3>
                    <h4>Crafted for Learning Management System</h4>
                    {% if app.user %}
                        <p><a href="{{ path('fos_user_security_logout') }}"  class="btn btn-primary">{{ 'Logout'|trans }}</a></p>
                    {% else %}
                        <p><a href="{{ path('fos_user_security_login') }}"  class="btn btn-primary">{{ 'Log In'|trans }}</a></p>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!-- SLIDER OFFERS END -->

        <a class="arrow" href="#welcome">
            <i class="fa fa-arrow-down fa-2x"></i>
        </a>
    </div>

    <!-- ========== BANNER END ========== -->

    <!-- ========== WELCOME START ========== -->

    <section id="welcome">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-3">
                    <p><img src="//placehold.it/130x130.gif" alt=""/></p>

                    <h3>Art</h3>

                    <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.
                        Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
                </div>
                <div class="col-sm-3">
                    <p><img src="//placehold.it/130x130.gif" alt=""/></p>

                    <h3>Geometry</h3>

                    <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.
                        Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
                </div>
                <div class="col-sm-3">
                    <p><img src="//placehold.it/130x130.gif" alt=""/></p>

                    <h3>Science</h3>

                    <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.
                        Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
                </div>
                <div class="col-sm-3">
                    <p><img src="//placehold.it/130x130.gif" alt=""/></p>

                    <h3>Geography</h3>

                    <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.
                        Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ========== WELCOME END ========== -->

    <!-- ========== REVIEWS START ========== -->

    <section id="about-reviews">
        <div class="tint"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center" data-scroll-reveal>

                    <h2>What Our Students Say</h2>

                    <!-- OWL CAROUSEL START -->
                    <div class="owl-carousel">

                        <div class="item">
                            <blockquote>Donec varius ante in turpis faucibus sagittis. Vestibulum lacinia ante eget
                                fringilla lobortis. Nunc sollicitudin, arcu at fringilla varius, turpis dui venenatis
                                augue,
                                at adipiscing ante ipsum vel leo. In a sem sit amet mi condimentum semper. Nulla
                                eleifend
                                convallis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                                blandit
                                erat eu suscipit porttitor. Sed vestibulum mauris sit amet eros feugiat egestas. Ut
                                rhoncus
                                imperdiet est eget ullamcorper. Fusce at orci sed augue aliquam malesuada.
                                <small>Sally Peterson, Student</small>
                            </blockquote>
                        </div>

                        <div class="item">
                            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper
                                consectetur
                                nunc ac pretium. Nullam vel lectus non augue imperdiet porta. Proin commodo malesuada
                                faucibus. Integer at lacinia lacus. Vestibulum dignissim imperdiet est vel ornare. Sed
                                vehicula luctus massa, sit amet porta purus feugiat a. Cras tincidunt neque vitae enim
                                pellentesque, nec congue mauris suscipit. Praesent sit amet odio lacus.
                                <small>Malcolm Carr, Student</small>
                            </blockquote>
                        </div>

                        <div class="item">
                            <blockquote>Integer faucibus orci eu lorem vulputate, non semper odio consectetur. Phasellus
                                eu
                                commodo lectus, interdum molestie nunc. Maecenas aliquet sagittis elementum. Nulla
                                lobortis
                                diam nisl, id consectetur nunc faucibus viverra. Donec vel porta augue, eget accumsan
                                lorem.
                                Sed dictum consequat ipsum eget porta. Donec imperdiet dolor at ante interdum, sed
                                viverra
                                orci iaculis. Donec vestibulum nulla at tortor molestie, vel convallis neque vestibulum.
                                Phasellus luctus purus ut tincidunt imperdiet.
                                <small>Antonia Owen, Student</small>
                            </blockquote>
                        </div>

                        <div class="item">
                            <blockquote>Vestibulum viverra dolor lorem, vitae ornare velit facilisis eget. Phasellus
                                ornare,
                                mauris id interdum cursus, velit libero dictum dolor, a vehicula lacus enim id tortor.
                                Vestibulum faucibus nec elit id iaculis. Aenean lorem ante, pretium ac iaculis non,
                                tincidunt in quam. Nunc lobortis dictum dui. Pellentesque sagittis luctus posuere. Sed
                                suscipit mi vitae orci accumsan, ut imperdiet odio molestie.
                                <small>Jared Murray, Student</small>
                            </blockquote>
                        </div>

                    </div>
                    <!-- OWL CAROUSEL END -->

                </div>
            </div>
        </div>
    </section>

    <!-- ========== REVIEWS END ========== -->
    {% include ':landing:_prefooter.html.twig' %}
    {% include ':landing:_footer.html.twig' %}

{% endblock %}

